<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <select id="data-selector">
        <option value="">Select Data</option>
        <option value="students">Students</option>
        <option value="books">Books</option>
        <option value="courses">Courses</option>
        <option value="faculty">Faculty</option>
        <option value="menu">Menu</option>
        <option value="mess">Mess</option>
        <option value="hostels">Hostel</option>
        <option value="maintenance">Maintenance</option>
        <option value="borrow">Borrow</option>
        <option value="enrollments">Enrollment</option>
        <!-- Add more options as needed -->
    </select>

    <button id="add-data-button" style="display:none;">Add Data</button>

    <!-- The Modal -->
    <div id="add-data-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <form id="add-data-form">
            <!-- Form fields will be populated here based on selection -->
            
            <!-- Submit Button -->
            <button type="button" id="submit">Submit</button>
            <input type="submit" id="submit-button" value="Submit Data">
          </form>
        </div>
      </div>


    <table id="data-table">
        <thead>
            <tr>
                <!-- The table headers will be populated with column names -->
            </tr>
        </thead>
        <tbody>
            <!-- The table rows will be populated with content -->
        </tbody>
    </table>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
