/* static/css/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    height: 50px;
    background: #f7f7f7;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

td {
    height: 40px;
    padding: 5px 10px;
    text-align: left;
    font-size: 14px;
    color: #666;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #5cb85c; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #4cae4c;
}
